Repository Souheil-Yazji/Mini-Shopify, pull requests merged in 2021-03, with the labels that each got.

#8 IntelliJ Project Starter
  .gitignore
  pom.xml
  src/main/java/com/shopify/minishopify/HomeController.java
  src/main/java/com/shopify/minishopify/MiniShopifyApplication.java
  src/main/resources/application.properties
  src/test/java/com/shopify/minishopify/HomeControllerTest.java
Labels: enhancement

#13 docs: Updated README.md
  README.md
Labels: documentation

#28 feat: add tag and category table
  src/main/resources/db/migration/V002__Shopify_tables.sql
Labels: api

#30 feat: add vue setup
  .gitignore
  src/main/resources/client/shopify-client/README.md
  src/main/resources/client/shopify-client/babel.config.js
  src/main/resources/client/shopify-client/package.json
  src/main/resources/client/shopify-client/public/favicon.ico
  src/main/resources/client/shopify-client/public/index.html
  src/main/resources/client/shopify-client/src/App.vue
  src/main/resources/client/shopify-client/src/assets/logo.png
  src/main/resources/client/shopify-client/src/components/HelloWorld.vue
  src/main/resources/client/shopify-client/src/main.js
  src/main/resources/client/shopify-client/src/router/index.js
  src/main/resources/client/shopify-client/src/store/index.js
  src/main/resources/client/shopify-client/src/views/About.vue
  src/main/resources/client/shopify-client/src/views/Home.vue
  src/main/resources/client/shopify-client/yarn.lock
Labels: client

#34 ci: build vue in CI
  .gitignore
  .travis.yml
  pom.xml
  shopify-client/README.md
  shopify-client/babel.config.js
  shopify-client/package.json
  shopify-client/src/App.vue
  shopify-client/src/assets/logo.png
  shopify-client/src/components/HelloWorld.vue
  shopify-client/src/main.js
  shopify-client/src/router/index.js
  shopify-client/src/store/index.js
  shopify-client/src/views/About.vue
  shopify-client/src/views/Home.vue
  shopify-client/vue.config.js
  shopify-client/yarn.lock
  src/main/java/com/shopify/minishopify/HomeController.java
  src/main/java/com/shopify/minishopify/SPAController.java
  src/main/resources/application.properties
  src/main/resources/client/shopify-client/public/favicon.ico
  src/main/resources/client/shopify-client/public/index.html
  src/test/java/com/shopify/minishopify/HomeControllerTest.java
Labels: configuration

#36 feat: Shop controller
  pom.xml
  src/main/java/com/shopify/minishopify/controllers/ShopController.java
  src/main/java/com/shopify/minishopify/model/Shop.java
  src/main/resources/db/migration/V003__Shopify_tables.sql
  src/test/java/com/shopify/minishopify/controllers/ShopControllerTest.java
  src/test/java/com/shopify/minishopify/model/ProductTest.java
  src/test/java/com/shopify/minishopify/model/ShopTest.java
Labels: api

#37 feat: add product view and controller
  shopify-client/package.json
  shopify-client/src/App.vue
  shopify-client/src/components/ProductForm.vue
  shopify-client/src/main.js
  shopify-client/src/router/index.js
  shopify-client/src/views/ProductCreate.vue
  shopify-client/src/views/ProductDetails.vue
  shopify-client/src/views/ProductUpdate.vue
  shopify-client/yarn.lock
  src/main/java/com/shopify/minishopify/controllers/ProductController.java
  src/main/java/com/shopify/minishopify/model/Product.java
  src/main/java/com/shopify/minishopify/model/Shop.java
  src/main/java/com/shopify/minishopify/repository/ProductRepository.java
  src/main/resources/db/migration/V004__Base64_for_image.sql
  src/test/java/com/shopify/minishopify/controllers/ProductControllerTest.java
  src/test/java/com/shopify/minishopify/controllers/ShopControllerTest.java
  src/test/java/com/shopify/minishopify/model/ProductTest.java
  src/test/java/com/shopify/minishopify/model/ShopTest.java
Labels: api, client

#43 feat: Shop detail view
  shopify-client/src/router/index.js
  shopify-client/src/views/ShopDetails.vue
Labels: client

#42 feat: add Header
  shopify-client/src/App.vue
  shopify-client/src/components/Header.vue
  shopify-client/src/router/index.js
  shopify-client/src/views/ShopDetails.vue
  shopify-client/src/views/ShopList.vue
  shopify-client/vue.config.js
Labels: client

#49 Feat: Home View
  shopify-client/src/App.vue
  shopify-client/src/assets/MiniShopLogo.png
  shopify-client/src/components/Header.vue
  shopify-client/src/components/HelloWorld.vue
  shopify-client/src/views/About.vue
  shopify-client/src/views/Home.vue
Labels: client

#50 chore: update readme
  README.md
Labels: documentation

#63 feat: fix product image size
  shopify-client/src/views/ProductDetails.vue
Labels: client

#65 feat: redirect / to /app
  shopify-client/src/router/index.js
Labels: client

#58 fix: shop list view img size
  shopify-client/src/views/ShopList.vue
Labels: bug, client

#62 Auth
  src/main/java/com/shopify/minishopify/model/Role.java
  src/main/java/com/shopify/minishopify/model/User.java
  src/main/java/com/shopify/minishopify/repository/RoleRepository.java
  src/main/resources/db/migration/V005__Security.sql
  src/test/java/com/shopify/minishopify/controllers/ShopControllerTest.java
  src/test/java/com/shopify/minishopify/model/ProductTest.java
  src/test/java/com/shopify/minishopify/model/ShopTest.java
  src/test/java/com/shopify/minishopify/model/UserTest.java
Labels: enhancement

#67 doc: Update ReadMe
  README.md
Labels: documentation

#64 feat: Shopping cart and edit cart
  shopify-client/src/components/Header.vue
  shopify-client/src/router/index.js
  shopify-client/src/store/index.js
  shopify-client/src/views/Cart.vue
  shopify-client/src/views/ShopDetails.vue
  src/main/java/com/shopify/minishopify/controllers/ProductController.java
  src/test/java/com/shopify/minishopify/controllers/ProductControllerTest.java
Labels: api, client

#68 bug-Center Aligns Header Logo
  shopify-client/src/components/Header.vue
Labels: client

#73 feat: add checkout
  shopify-client/src/components/Header.vue
  shopify-client/src/router/index.js
  shopify-client/src/store/index.js
  shopify-client/src/views/Cart.vue
  shopify-client/src/views/Checkout.vue
  shopify-client/src/views/CheckoutSuccess.vue
  shopify-client/src/views/ShopCreate.vue
  src/main/java/com/shopify/minishopify/controllers/CheckoutController.java
  src/main/java/com/shopify/minishopify/viewmodel/Checkout.java
  src/main/java/com/shopify/minishopify/viewmodel/CheckoutList.java
  src/test/java/com/shopify/minishopify/controllers/CheckoutControllerTest.java
Labels: api, client

#74 fix: Shop details product uniform size
  shopify-client/src/views/ShopDetails.vue
Labels: bug, client

#78 fix: Remove duplicate search bar and add cart items change in header
  shopify-client/src/components/Header.vue
Labels: bug, client

#82 fix: Create Tag/Categories duplicate tags/categories
  shopify-client/src/components/ShopForm.vue
Labels: client

#87 doc: update readme for milestone 2
  README.md
Labels: documentation
