Repository Souheil-Yazji/Mini-Shopify, pull requests merged in 2021-04, with the labels that each got.

#92 bugfix: Create Tag/Categories will allow you to make new categories/tags
  shopify-client/src/components/ShopForm.vue
Labels: bug, client

#98 fix: inventory not updating on checkout
  src/main/java/com/shopify/minishopify/controllers/CheckoutController.java
  src/test/java/com/shopify/minishopify/controllers/CheckoutControllerTest.java
Labels: api

#106 Update Cart Header
  shopify-client/src/components/Header.vue
Labels: client

#104 feat: Shopping cart persistence with cookies
  shopify-client/package.json
  shopify-client/src/App.vue
  shopify-client/src/store/index.js
  shopify-client/yarn.lock
Labels: api, client

#108 Notify User if we cannot add a product to the cart
  shopify-client/src/store/index.js
  shopify-client/src/views/ShopDetails.vue
Labels: client, enhancement

#112 feat: add image validation
  shopify-client/src/components/ProductForm.vue
  shopify-client/src/components/ShopForm.vue
  shopify-client/src/views/ProductDetails.vue
  shopify-client/src/views/ShopDetails.vue
  shopify-client/src/views/ShopList.vue
  src/main/java/com/shopify/minishopify/controllers/ProductController.java
  src/main/java/com/shopify/minishopify/controllers/ShopController.java
  src/main/java/com/shopify/minishopify/util/ImageValidator.java
Labels: api

#113 fix: Make checkout page has same quantity as shopping cart
  shopify-client/src/views/Checkout.vue
Labels: bug, client

#114 fix: allow other type of images
  shopify-client/src/components/ProductForm.vue
  shopify-client/src/components/ShopForm.vue
  shopify-client/src/views/ProductDetails.vue
  shopify-client/src/views/ShopDetails.vue
  shopify-client/src/views/ShopList.vue
  src/main/java/com/shopify/minishopify/util/ImageValidator.java
  src/test/java/com/shopify/minishopify/controllers/ProductControllerTest.java
  src/test/java/com/shopify/minishopify/controllers/ShopControllerTest.java
Labels: api

#116 feat: Product catalog search bar
  shopify-client/src/views/ShopDetails.vue
Labels: client

#117 fix: removed login and signup page
  shopify-client/src/components/Header.vue
Labels: client

#119 fix: update shop image
  src/main/java/com/shopify/minishopify/controllers/ShopController.java
Labels: api

#120 feat: updates About page
  shopify-client/src/views/About.vue
  src/main/java/com/shopify/minishopify/controllers/UtilController.java
  src/test/java/com/shopify/minishopify/controllers/UtilControllerTest.java
Labels: api, client, enhancement

#124 feat: Add option to delete shop
  shopify-client/src/views/ShopDetails.vue
  src/main/java/com/shopify/minishopify/controllers/ShopController.java
  src/main/java/com/shopify/minishopify/model/User.java
  src/test/java/com/shopify/minishopify/controllers/ShopControllerTest.java
Labels: api, client

#123 feat: Add ability to delete product
  shopify-client/src/views/ProductCreate.vue
  shopify-client/src/views/ProductDetails.vue
  src/main/java/com/shopify/minishopify/controllers/ProductController.java
  src/main/java/com/shopify/minishopify/model/Shop.java
  src/test/java/com/shopify/minishopify/controllers/ProductControllerTest.java
Labels: api, client, enhancement

#125 docs: update link to Travis
  README.md
Labels: documentation

#127 fix: remove case sensitivity
  src/main/java/com/shopify/minishopify/controllers/ShopController.java
  src/main/java/com/shopify/minishopify/repository/ShopRepository.java
Labels: api

#128 fix: checkout
  shopify-client/src/views/Checkout.vue
Labels: bug, client
